@charset "utf-8";


// 张树垚 2015-11-21 14:52:56 创建
// 京东到家



@import "../../../../Git/zSass/main";

$isTest: true;



// 页面设置
	html, body {
		@include square(100%);
		-webkit-tap-highlight-color: transparent;
	}
	body {
		margin: 0;
		font-family: Arial,Verdana;
		background-color: #fff;
	}
// 页面设置 End


// 试用函数
	$set-origin: 640 !default;
	@function set($num: 0, $origin: $set-origin) {
		@return round($num / $origin * 100) * 1%;
	}
	@mixin center($top: 50%) { // 竖直方向焦点位置
		@include absolute($top, "lw");
		@include t3d(0, -50%, 0);
	}
	@mixin center2($top: 50%) { // 竖直方向焦点位置
		@include absolute($top, "lw");
		@include t3d(0, - $top, 0);
	}
	%center { // 默认竖直居中
		@include center;
	}
	@function floor-percent($num: 0) { // 将小数转成百分比并去尾
		@return floor(percentage($num));
	}
	%fadeIn { display: none; opacity: 0; }
	%click {
		&:after {
			content: "";
			// @include pos-c(160%, 160%);
			@include absolute("tlrb");
			@include scale(1.6);
			z-index: 100;
		}
	}
	%alw {
		position: absolute;
		left: 0;
		width: 100%;
	}
// 试用函数 End



// 公共样式
	.img { // 图片
		position: relative;
		display: block;
		&-w { @extend .img; width: 100%; }
		&-h { @extend .img; height: 100%; }
		&-f { @extend .img; width: 100%; height: 100%; }
	}
// 公共样式 End




$img: '../images';

.screen { // 主容器
	@extend %afull;
	overflow: hidden;
	@include mediaMinWidth(960px) {
		position: relative;
		width: 480px;
		margin: 0 auto;
		height: 100%;
	}
}

.loading {
	@extend %afull;
	z-index: 2000;
	background-color: #fff;
}

.download {
	display: none;
	@include aposx(90%, set(353));
	z-index: 900;
	@include y(0);
	@include aniframe2(2s ease-in-out infinite 1s) {
		0%, 18%, 36%, 100% { @include y(0); }
		9%, 27% { @include y(-5px);}
	};
}

.dialog {
	&-box {
		@extend %afull;
		z-index: 1000;
		background-color: rgba(0,0,0,.8);
		display: none;
	}
	&1 {
		@extend %afull;
		&-word {
			@include atlw(30%);
		}
		&-close {
			@include aposx(60%, set(89));
		}
	}
}

%page {
	@extend %afull;
	overflow: hidden;
}
.page {
	&-box {
		@extend %afull;
	}
	&1 {
		@extend %page;
		$t-top: 7%;
		$b-top: 68%;
		&-bg {
			@extend %afull;
		}
		&-t1 {
			@include atlw($t-top);
		}
		&-t2 {
			@include atlw($t-top);
		}
		&-b1 {
			@include atlw($b-top);
			@include rotate(0);
			@include aniframe2(2s linear infinite) {
				0%, 40%, 100% { @include rotate(0); }
				5%, 25% { @include rotate(3deg); }
				15%, 35% { @include rotate(-3deg); }
			};
		}
		&-b2 {
			@include atlw($b-top);
		}
		&-tuser {
			// background-color: rgba(0,0,0,.6);
			@include atlwh(-10%, 46%, 100%, 40%);
			display: flex;
			align-items: center;
			// justify-content: center;
		}
		&-tname {
			color: #fff;
			font-size: 20px;
			white-space: nowrap;
		}
		&-timg {
			margin-left: .5em;
			@include square(24px);
			border-radius: 3px;
			overflow: hidden;
		}
		&-button {
			@include atlwh(0, 18%, 64%, 54%);
			// background-color: rgba(0,0,0,.6);
		}
	}
	&2 {
		@extend %page;
		&-bg {
			@extend %afull;
		}
		&-title {
			@include atlw(5%);
		}
		&-input {
			@extend %reset-input;
			// background-color: rgba(0,0,0,.6);
			@include atlwh(17%, 16%, 66%, 23%);
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			color: #dd1d4a;
			letter-spacing: .2em;
		}
		&-button {
			@include atlwh(65%, 27%, 45%, 26%);
			// background-color: rgba(0,0,0,.6);
		}
		&-word {
			@include atlw(32%);
		}
	}
	&3 {
		@extend %page;
		&-bg {
			@extend %afull;
		}
		&-word {
			@include atlw(4%);
		}
		&-main {
			@include atlw(33%);
		}
	}
	&4 {
		@extend %page;
		&-bg {
			@extend %afull;
		}
		&-title {
			@include atlw(9%);
		}
		&-word {
			@include atlw(22%);
		}
	}
}




#fountainTextG{
	overflow: hidden;
	@include atl(50%, 50%);
	@include t3d(-50%, -50%);
}

.fountainTextG{
	color:rgb(0,0,0);
	font-family:Arial;
	font-size:24px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_fountainTextG;
	animation-duration:2.09s;
	animation-iteration-count:infinite;
	animation-direction:normal;
	transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.75s;
}
#fountainTextG_2{
	animation-delay:0.9s;
}
#fountainTextG_3{
	animation-delay:1.05s;
}
#fountainTextG_4{
	animation-delay:1.2s;
}
#fountainTextG_5{
	animation-delay:1.35s;
}
#fountainTextG_6{
	animation-delay:1.5s;
}
#fountainTextG_7{
	animation-delay:1.64s;
}
#fountainTextG_8{
	animation-delay:1.79s;
}
#fountainTextG_9{
	animation-delay:1.94s;
}
#fountainTextG_10{
	animation-delay:2.09s;
}




@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}



