@charset "utf-8";


// 张树垚 2016-02-02 15:44:33 创建
// 果仁宝摇一摇



@import "../../../zSass/main";



// 页面设置
	html, body {
		@include square(100%);
		-webkit-tap-highlight-color: transparent;
	}
	body {
		margin: 0;
		font-family: Arial,Verdana;
		background-color: #feb41d;
	}
// 页面设置 End


// 试用函数
	$set-origin: 750 !default;
	@function set($num: 0, $origin: $set-origin) {
		@return round($num / $origin * 100) * 1%;
	}
	@function set-h($num) {
		@return set($num, 1334);
	}
	@mixin center($top: 50%) { // 竖直方向焦点位置
		@include absolute($top, "lw");
		@include t3d(0, -50%, 0);
	}
	@mixin center2($top: 50%) { // 竖直方向焦点位置
		@include absolute($top, "lw");
		@include t3d(0, - $top, 0);
	}
	%center { // 默认竖直居中
		@include center;
	}
	@function floor-percent($num: 0) { // 将小数转成百分比并去尾
		@return floor(percentage($num));
	}
	%fade-in { display: none; opacity: 0; }
	%click {
		&:after {
			content: "";
			// @include pos-c(160%, 160%);
			@include absolute("tlrb");
			@include scale(1.6);
			z-index: 100;
		}
	}
	%alw {
		position: absolute;
		left: 0;
		width: 100%;
	}
// 试用函数 End



// 公共样式
	.img { // 图片
		position: relative;
		display: block;
		&-w { @extend .img; width: 100%; }
		&-h { @extend .img; height: 100%; }
		&-f { @extend .img; width: 100%; height: 100%; }
	}
// 公共样式 End




$img: '../images';

.screen { // 主容器
	@extend %afull;
	overflow: hidden;
	@include mediaMinWidth(960px) {
		position: relative;
		width: 480px;
		margin: 0 auto;
		height: 100%;
	}
}


.page {
	&-box {
		@extend %afull;
		overflow: hidden;
	}
	&1 {
		@extend %afull;
		overflow: hidden;
		&-flag {
			&-1 {
				@extend %atlw;
			}
			&-2 {
				@extend %atlw;
			}
		}
		&-title {
			@include atlw(11%);
		}
		&-bg {
			@extend %ablw;
		}
		&-bg2 {
			@include atlw(set-h(600));
		}
		&-hand {
			@include atlw(set-h(860), 0, set(112));
		}
		&-circle {
			@include aposx(set-h(570), set(512));
			@include aniframe2(12s linear infinite) {
				0% { @include rotate(0); }
				100% { @include rotate(360deg); }
			}
		}
		&-phone {
			@include aposx(set-h(640), set(181));
			@include aniframe2(2s linear infinite) {
				0%, 10%, 20%, 30%, 40%, 50%, 100% { @include rotate(0); }
				5%, 25%, 45% { @include rotate(-10deg); }
				15%, 35% { @include rotate(10deg); }
			}
		}
		&-word {
			@include aposx(set-h(875), set(331));
		}
	}
	&2 {
		@extend %afull;
		overflow: hidden;
		&-head {
			@extend %atlw;
		}
		&-flag {
			&-1 {
				@include atlw(38%);
			}
			&-2 {
				@include atlw(42%);
			}
		}
		&-main {
			@include atlw(14%);
		}
		&-money {
			@include atlw(53%);
			text-align: center;
			color: #ea273c;
			font-weight: bold;
			font-family: Helvetica;
			font-size: 24px;
			letter-spacing: 1px;
			&-img {
				@include inline-block(middle);
				width: 22px;
				margin-left: 2px;
			}
		}
		&-desc {
			@include atlw(66%);
		}
		&-btn1 {
			@include atlw(85%, 11.5%, 35%);
		}
		&-btn2 {
			@include atrw(85%, 11.5%, 35%);
		}
		&-bottom {
			@include atlw(95%);
		}
	}
	&3 {
		@extend %afull;
		@extend %fade-in;
		overflow: hidden;
		background-color: rgba(0,0,0,.8);
		&-share {
			@include atlw(5%);
		}
	}
}






